{{/*
Accepts a single argument, which is passed along the <i/> element's CSS classes.
This is intended to be the size of the logo (h1 to h6).
*/}}
{{define "logo"}}
<i class="fa-solid fa-diamond text-danger {{.}}"></i>
{{end}}
