{{define "navbar"}}
<header class="pb-3 mb-4 border-bottom">
    <a href="/"
       class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <i class="fa-solid fa-diamond text-danger"></i>
        <span class="ms-2 fs-4">poker</span>
    </a>
</header>
{{end}}
